<p>
  login-cmp works!
</p>
<!-- <form #userlogin="ngForm" (ngSubmit)="onClickSubmit(userlogin.value)">
  <br />
  <input type="text" name="emailid" placeholder="Email ID" ngModel>
  <br /><br />
  <input type="password" name="passwd" placeholder="Password" ngModel>
  <br /><br />
  <input type="submit" value="submit">
</form>

<div>
  <form [formGroup]="formdata" (ngSubmit)="onClickSubmit(formdata.value)">
    <input type="text" name="emailid" placeholder="emailid" formControlName="emailid">
    <br />

    <input type="number" name="passwd" placeholder="passwd" formControlName="passwd">
    <br />

    <input type="submit" [disabled]="!formdata.valid" class="forsubmit" value="Log In">
  </form>
</div>
<p>
  Email entered is : {{emailid}}
</p> -->
