<div class="header">
  <h1>Prime Atelier</h1>
  <p>Aaditi Pradhan's Design Studio</p>
</div>

<div class="row">
  <div class="col-3 col-s-3 menu">
    <ul>
      <li>Architecture</li>
      <li>Interior Design</li>
      <li>Home Decor</li>
      <li>Architecture Journalism</li>
      <li>Architecture</li>
      <li>Interior Design</li>
      <li>Home Decor</li>
    </ul>
  </div>

  <div class="image col-6 col-s-9">
      <img src="assets/1.jpg" width="640px" height="275px">
  </div>

  <div class="col-3 col-s-12">
    <div class="aside">
      <h2>Office Location</h2>
      <p>51, Pioneer Society, Nagpur</p>
      <h2>Drop a mail at</h2>
      <p>aditipradhan@primeatelier.com</p>
      <h2>Call us at</h2>
      <p>(+91) 564-9854-3345</p>
    </div>
  </div>
</div>

<div class="col-12 col-s-12">
<p>
  Architecture (Latin architectura, from the Greek ἀρχιτέκτων arkhitekton "architect", from ἀρχι- "chief" and τέκτων "creator") is both the process and the product of planning, designing, and constructing buildings or any other structures. Architectural works, in the material form of buildings, are often perceived as cultural symbols and as works of art. Historical civilizations are often identified with their surviving architectural achievements.
</p>
</div>

<div class="footer">
  <p>A design isn't finished until someone is uding it!</p>
</div>

