<mat-toolbar color="primary" class="mat-elevation-z8">
  <span>MY APPLICATION</span>
  <div class="spacer"></div>
  <a mat-button routerLink="home">Home</a>
  <a mat-button routerLink="basics">POC for Basics of Angular</a>
  <a mat-button routerLink="login">Log-In</a>
  <a mat-button routerLink="contact">Contact Details</a>
  <a mat-button routerLink="rgb">RGB Color Picker</a>
  <a mat-button routerLink="rwd">Responsive Web Design</a>
  <a mat-raised-button color="accent" routerLink="charts">Charts from JSON data</a>
</mat-toolbar>